// Feel free to use SCSS Partials
// Example of importing SCSS Partial files 
@import '_navigation';

body {
  background-color: #eee;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
}